<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <defaultDocument>
        <files>
          <add value="index.html" />
        </files>
      </defaultDocument>
      <staticContent>
        <mimeMap fileExtension=".json" mimeType="application/json" />
        <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
        <mimeMap fileExtension=".blat" mimeType="application/octet-stream" />
        <mimeMap fileExtension=".br" mimeType="application/octet-stream" />
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAgeSeconds="3600" />
      </staticContent>
      <compression>
        <scheme name="br" dll="%IIS_BIN%\brotli.dll" staticCompressionLevel="11" />
        <staticFile extension=".br" compressionType="br" doStaticCompression="false" />
        <dynamicFile extension=".br" compressionType="br" />
      </compression>
      <security>
        <requestFiltering>
          <hiddenSegments>
            <add segment="bin" />
          </hiddenSegments>
        </requestFiltering>
      </security>
      <rewrite>
        <rules>
          <rule name="Rewrite index on directory or parameter-less request" stopProcessing="true">
            <match url="^(?!.*\.)(?!_framework).*$" />
            <conditions logicalGrouping="MatchAll">
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Rewrite" url="/index.html" />
          </rule>
        </rules>
      </rewrite>
      <httpProtocol>
        <customHeaders>
          <add name="X-UA-Compatible" value="IE=edge" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
</configuration>
